/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*Start new styles*/
/*body {
	
}*/

/*Transition CSS*/
.blurred {
	-webkit-filter: blur(6px);
	        filter: blur(6px);
}
.hidden {
	opacity: 0;
	display: none;
}

/*Content CSS*/

#infoModal {
	transition: opacity .5s;
	z-index: 1000;
	width: 90%;
	max-width: 800px;
	padding: 10px 20px 30px 20px;
	margin: 5% auto;
	box-shadow: 0px 10px 20px rgba(0,0,0,.4);

	background: rgba(183, 183, 183, 0.38);
	border-radius: 15px;
	position: relative;
}
	.info-text {
		font-size: 1.3em;
		margin-top: 15px;
	}
	.info-img {
		height: 66px;
	}

#googleMap_container {
	transition: -webkit-filter .3s;
	transition: filter .3s;
	transition: filter .3s, -webkit-filter .3s;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
	#mapTop {
		position: relative;
		z-index: 100;
		box-shadow: 0px 7px 14px rgba(0,0,0,.4);
		background: rgba(239, 239, 239, 0.6);
		border-radius: 10px;
		margin-top: 30px;
		padding: 25px 10px 10px 10px;
	}

#googleMap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}